#play-pause-container {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

#play-pause-container:hover {
    opacity: 1;
}

#play-pause-music {
    font-size: 2.5em;
    cursor: pointer;
}