#audio-player {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 60px;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#wave-options {
    display: flex;
    align-items: center;
}